
//Base styles: opinionated defaults

html,
button,
input,
select,
textarea {
    color: $color-text;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $color-accent;
    text-shadow: none;
}

::selection {
    background: $color-accent;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-light;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
    &:focus{
        outline:none;
    }
}