//colors
$color-text: #333;
$color-base: #333;
$color-mid: #999;
$color-light: #DDD;
$color-accent: #FF8800;
$color-highlight: teal;

//fonts
$font-base: Helvetica, Verdana, Arial, sans-serif;
$font-heading: 'Open Condensed', sans-serif;
//$font-heading: 'Open Sans Condensed', sans-serif;

//urls
$url-loading: '../img/loading.gif';